.sectionheader_root__tOXOT {
    text-align: center
}

.sectionheader_titleWrapper__GM_qA {
    display: flex;
    flex-direction: column;
    align-items: center
}

.sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2.0625rem
}

.sectionheader_initialTextFormat__rgc9t .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
    text-transform: none
}

@media(min-width:992px) {
    .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
        font-size: 1rem;
        line-height: 2rem
    }
}

.sectionheader_white__nl0U8 .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
    color: var(--color-white)
}

.sectionheader_black__pYlZK .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
    color: var(--color-primary-grey)
}

@media(min-width:992px) {
    .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
        font-size: 1.4444444444rem;
        line-height: 2.75rem
    }
}

@media(min-width:992px)and (min-width:992px) {
    .sectionheader_titleWrapper__GM_qA .sectionheader_title__Pf1hA {
        font-size: 1.4444444444rem;
        line-height: 2.6666666667rem
    }
}

.sectionheader_titleWrapper__GM_qA:after {
    margin-top: .2rem;
    display: block;
    width: 22px;
    height: 1px;
    background: var(--color-corporate);
    will-change: transform;
    content: "";
    transform: scaleX(0);
    transform-origin: left center;
    transition: all .4s cubic-bezier(.785, .135, .15, .86)
}

@media(min-width:768px) {
    .sectionheader_titleWrapper__GM_qA:after {
        width: 36px;
        height: 2px;
        margin-top: .3rem
    }
}

.sectionheader_active__Ic7YZ .sectionheader_titleWrapper__GM_qA:after,
.sectionheader_show__h4TfS .sectionheader_titleWrapper__GM_qA:after {
    opacity: 1;
    transform: scale(1)
}