.infoCard_root__wu_YY {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.22222rem;
    padding: 0 2.0625rem
}

@media(min-width:992px) {
    .infoCard_root__wu_YY {
        padding: 0 2rem
    }
}

@media(min-width:768px) {
    .infoCard_root__wu_YY {
        padding: 0 .825rem
    }
}

@media(min-width:768px)and (min-width:992px) {
    .infoCard_root__wu_YY {
        padding: 0 .8rem
    }
}

@media(min-width:1200px) {
    .infoCard_root__wu_YY {
        padding: 0 2.0625rem
    }
}

@media(min-width:1200px)and (min-width:992px) {
    .infoCard_root__wu_YY {
        padding: 0 2rem
    }
}

.infoCard_iconContainer__F6Cg4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    max-height: 100%;
    margin: 0 auto .4rem
}

.infoCard_iconContainer__F6Cg4:not(.infoCard_showMobileIcons__NPvGL) {
    display: none
}

@media(min-width:768px) {
    .infoCard_iconContainer__F6Cg4:not(.infoCard_showMobileIcons__NPvGL) {
        display: flex
    }
}

.infoCard_iconContainer__F6Cg4>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.infoCard_iconContainer__F6Cg4 img,
.infoCard_iconContainer__F6Cg4 svg {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.dark .infoCard_iconContainer__F6Cg4 svg path {
    fill: var(--color-white)
}

@media(min-width:768px) {
    .infoCard_iconContainer__F6Cg4 {
        width: 100px;
        height: 100px;
        margin-bottom: .2rem !important
    }
}

.infoCard_icon__d7kUP {
    display: block;
    margin: 0 auto;
    width: auto;
    flex-shrink: 0;
    color: var(--color-corporate)
}

@media(min-width:768px) {
    .infoCard_icon__d7kUP {
        width: 65%
    }
}

.infoCard_title__xrNg5 {
    text-align: center
}

@media(min-width:768px) {
    .infoCard_title__xrNg5 {
        margin-bottom: 1.5rem !important
    }
}

.infoCard_content__Ue3Zy {
    flex-grow: 1
}

.infoCard_showLinks__7XayY .infoCard_content__Ue3Zy {
    margin-bottom: 1.6666rem
}

.infoCard_centerText__8gGVD {
    text-align: center
}

.infoCard_buttonWrapper__HIz4_ {
    display: flex;
    flex-direction: column
}

.infoCard_buttonWrapper__HIz4_ .button {
    align-self: center
}

.infoCard_buttonWrapper__HIz4_ .link {
    align-self: flex-start
}

.infoCard_buttonWrapper__HIz4_.infoCard_centerItem__69BBq .link {
    align-self: center
}

.infoCard_explanationText__1sYrm {
    font-size: .7777777778rem;
    line-height: 1rem;
    color: var(--color-medium-grey-60);
    margin-top: 30px
}

@media(min-width:992px) {
    .infoCard_explanationText__1sYrm {
        font-size: .7777777778rem
    }
}

.infoCard_explanationText__1sYrm a {
    color: var(--color-medium-grey-60)
}

.infoCard_explanationText__1sYrm a:hover {
    color: var(--color-medium-grey)
}

.infoCard_explanationText__1sYrm.infoCard_left__vGCgy {
    text-align: left
}

.infoCard_explanationText__1sYrm.infoCard_center__8VdbP {
    text-align: center
}