.myheader {
    background: #F5F4F6;
    padding: 20px 0px;

}



.myheader__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.mymenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mymenu li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #231F20;
}

.mymenu li a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .logo {
        margin: 0 auto;
    }

    .myheader nav {
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    .myrow {
        display: block;
    }
}

.form_thankyou {
    display: none;
    max-width: 426px;
    margin: 0 auto;
    text-align: center;
}

.form_thankyou__title {
    font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
    color: #231F20;
    margin-bottom: 32px;
}

.form_thankyou p {
    color: #322F29;
    margin-bottom: 32px;
}

img {
    max-width: 100%;
    height: auto;
}